@page

@using BudgetTracker.BudgetSquirrel.Web.ViewComponents
@using BudgetTracker.Business.Budgeting

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Styles {
    <style>
        .budget-container > .budget-container {
            margin-left: 50px;
            border-left: 1px solid black;
            border-top: 1px solid black;
        }

        .hidden {
            display: none;
        }
    </style>
}

@if (Model.RootBudgetId == null)
{
    <div>
        @foreach (Budget budget in Model.AvailableRootBudgets)
        {
            <form method="post" onclick="$(this).submit();">
                <div class="hidden">
                    <input name="BudgetId" value="@budget" />
                </div>
                <div>@budget.Name - @budget.Id</div>
            </form>
        }
    </div>
}
else
{
    <div>
        <h1>Root Budget</h1>
        @await Component.InvokeAsync(BudgetViewComponent.ComponentName,
            new { budget = Model.RootBudget })
    </div>
}
