@page
@model BudgetTracker.BudgetSquirrel.Web.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<form asp-page-handler="login" method="post">
    <input name="username" />
    <input name="password" />
    <button type="submit" value="submit" />
</form>
