@page
@model BudgetTracker.BudgetSquirrel.Web.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<form class="register-form" asp-page-handler="register" method="post">

    <div class="register-form__messages">
        @if(Model.ErrorMessage != null)
        {
            <p class="alert">@Model.ErrorMessage</p>
        }
    </div>

    <div class="register-form__section">
        <div class="register-form__field">
            <label for="FirstName">First Name</label>
            <input type="text" name="FirstName" required/>
        </div>
        <div class="register-form__field">
            <label for="LastName">Last Name</label>
            <input type="text" name="LastName" required/>
        </div>
        <div class="register-form__field">
            <label for="Email">Email</label>
            <input type="text" name="Email" required/>
        </div>
        <div class="register-form__field">
            <label for="Username">Username</label>
            <input type="text" name="Username" required/>
        </div>
        <div class="register-form__field">
            <label for="Password">Password</label>
            <input type="password" name="Password" required/>
        </div>
        <div class="register-form__field">
            <label for="ConfirmPassword">Confirm Password</label>
            <input type="password" name="ConfirmPassword" required/>
        </div>
    </div>

    <div class="register-form__section">
        <div class="register-form__field">
            <label for="DurationType">How should budget period durations be handled?</label>
            <select name="DurationType">
                <option value="CreateUserViewModel.DURATION_TYPE_BOOKENDED">Start/End Dates of Month</option>
                <option value="CreateUserViewModel.DURATION_TYPE_DAYSPAN">Set Number of Days</option>
            </select>
        </div>
    </div>

    <div class="register-form__section">
        <div class="register-form__field">
            <label for="FirstName">Starting Day</label>
            <input type="number" name="StartDayOfMonth"/>
        </div>
        <div class="register-form__field">
            <label for="LastName">Ending Day</label>
            <input type="number" name="EndDayOfMonth"/>
        </div>
    </div>

    <div class="register-form__section">
        <div class="register-form__field">
            <label for="FirstName">Number of Days</label>
            <input type="number" name="NumberDays"/>
        </div>
    </div>

    <div class="register-form__section">
        <div class="register-form__field">
            <label for="FirstName">Name of Budget</label>
            <input type="text" name="RootBudgetName" required/>
        </div>
        <div class="register-form__field">
            <label for="SetAmount">Set Amount</label>
            <input type="number" step="0.01" name="SetAmount"/>
        </div>
        <div class="register-form__field">
            <label for="InitialBalance">Initial Balance</label>
            <input type="number" step="0.01" name="InitialBalance"/>
        </div>
    </div>

    <button type="submit" value="submit">Register</button>
</form>
