/* Button Styles */
.btn {
    padding: 8px;
    background-color: var(--gray-pale);
    border: 1px solid var(--gray-shaded);
    border-radius: 3px;
    display: inline-block;
}

a.btn {
    text-decoration: none;
    color: black;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--gray);
}

.btn--icon {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn--icon--danger svg {
    fill: var(--danger);
}

.btn--square {
    border-radius: 0;
}

.btn .btn__tool-tip {
    display: none;
    padding-left: 8px;
    padding-right: 8px;
}

.btn:hover .btn__tool-tip {
    display: inline-block;
}

/* Text element Styles */
input {
    padding: 4px;
}

input[type="number"] {
    width: 6em;
}

.input-symbol {
    padding: 4px 4px 4px 4px;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

/* Alerts */
.alert--error {
    color: var(--danger);
}